html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  text-decoration: none;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
}
.home-page {
  background-image: url(../css/central-park.jpg);
  background-size: 1300px 836px;
  background-repeat: no-repeat;
}
.home-page .page-container {
  padding: 20px;
  max-width: 1080px;
  margin: 0 auto;
  height: 100vh;
}
.home-page .page-container header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 20px;
  min-height: 60px;
}
.home-page .page-container header nav .nav-container {
  display: flex;
  width: 300px;
  justify-content: space-between;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}
.home-page .page-container header nav .nav-container a {
  color: #3EBDC2;
}
.home-page .page-container .welcome-message {
  text-align: center;
  color: #fff;
}
.home-page .page-container .welcome-message .logo {
  width: 300px;
}
.home-page .page-container .welcome-message p {
  margin-bottom: 20px;
  font-size: 40px;
}
.home-page .page-container .welcome-message button {
  padding: 5px 50px;
  background: none;
  border: 3px solid #fff;
  border-radius: 20px;
  font-size: 60px;
  color: #fff;
  transition: 1s;
}
.home-page .page-container .welcome-message button:hover {
  background: #fff;
  color: #3EBDC2;
  transition: 1s;
  cursor: pointer;
}
.home-page .page-container footer {
  text-align: center;
  margin-top: 100px;
  color: #fff;
  font-size: 100px;
}
.about-page {
  background: none;
}
@media only screen and (min-width: 1310px) {
  .home-page {
    background-size: 100%;
  }
}
